<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css' )}}">
  <!-- Source: https://icons8.com/icons/set/film -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
  <script src="{{ url_for('static', filename='/js/theme.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='/js/csrf.js') }}" defer></script>
  <!-- Star Ratings -->
  <!-- Source: https://github.com/kartik-v/bootstrap-star-rating -->
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Page Not Found</title>
  {% endif %}
</head>

<body>
  <div class="content-wrapper">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Return home">
          <img src="{{ url_for('static', filename='/images/icon.png') }}" alt="Logo" width="40" height="40" class="d-inline-block">
          Watch Parties
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if title and title != "Watch Parties" and title != "Register" and title != "Login" %}
            <!-- Your Watch Parties -->
            <li class="nav-item me-2">
              <button type="button" class="btn nav-pad btn-outline-secondary {{ 'nav-active' if title == 'Joined Parties' }}" title="See joined watch parties">
                <a class="nav-link btn-hover {{ 'nav-btn' if title == 'Joined Parties' }}" href="{{ url_for('parties') }}">
                  Joined Watch Parties &nbsp;
                  <!-- Source: https://icons.getbootstrap.com/icons/list/ -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
                </a>
              </button>
            </li>
          {% endif %}
          </ul>
          {% if title == "Watch Parties" or title == "Register" %}
          <!-- Login Link -->
          <div class="nav-item ms-lg-auto me-2 nav-action" title="Login">
            <a class="btn btn-warning" href="{{ url_for('auth.login') }}">
              Login
            </a>
          </div>
          {% elif title == "Login" %}
          <!-- Register Link -->
          <div class="nav-item ms-lg-auto me-2 nav-action">
            <a class="btn btn-warning" href="{{ url_for('auth.register') }}" title="Register">
              Register
            </a>
          </div>
          {% elif title %}
          <!-- Create Watch Party -->
          <div class="nav-item ms-lg-auto me-2 nav-action">
            <button id="create" type="button" class="btn btn-outline-success" title="New Watch Party">
              Create Watch Party&nbsp;
              <!-- Source: https://icons.getbootstrap.com/icons/plus-circle/ -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
            </button>
          </div>
          <!-- Profile Link -->
          <div class="nav-item dropdown ms-2">
            <button class="btn p-0" id="profile-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" title="Profile options">
              <div id="profile-circle" class="d-flex align-items-center justify-content-center rounded-circle text-white" 
                style="width: 35px; height: 35px; background-color: {{ colour }}">
                <span id="profile-initial" class="fs-6 fw-semibold">{{ username[0] }}</span>
              </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
              <li>
                <a class="dropdown-item d-flex align-items-center {{ 'active' if title == 'My Parties' }}" href="{{ url_for('my_parties') }}">
                  <!-- Source: https://icons.getbootstrap.com/icons/collection-fill/ -->
                  <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1"/>
                  </svg>
                  My Parties
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center {{ 'active' if title == 'Profile' }}" href="{{ url_for('profile') }}">
                  <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                    <use href="#gear-fill"></use>
                  </svg>
                  Settings
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item d-flex align-items-center text-danger" href="{{ url_for('auth.logout') }}">
                  <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                    <use href="#box-arrow-right"></use>
                  </svg>
                  Sign out
                </a>
              </li>
            </ul>
          </div>
          {% endif %}
          <!-- Theme Toggle -->
          <div class="nav-item dropdown">
            <button
              class="btn btn-sm nav-pad btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static"
              aria-label="Toggle theme" title="Change colour theme">
              <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#sun-fill"></use>
              </svg>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle Theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="bd-theme-text">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                  aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#sun-fill"></use>
                  </svg>
                  Light
                  <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                  </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                  aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#moon-stars-fill"></use>
                  </svg>
                  Dark
                  <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                  </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                  aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#circle-half"></use>
                  </svg>
                  Auto
                  <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- SVG Definitions -->
    <!-- Source: https://icons.getbootstrap.com/ -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check2" viewBox="0 0 16 16">
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path
          d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path
          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        <path
          d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
      </symbol>
      <symbol id="person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </symbol>
      <symbol id="gear-fill" viewBox="0 0 16 16">
        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
      </symbol>
      <symbol id="box-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </symbol>
    </svg>
    <!-- Flashes -->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8">
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          {% for category, message in messages[::-1] %}
          <div class="alert alert-{{ 'danger' if category == 'message' else category }} alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% if search_form %}
  <!-- Create Watch Party Popup -->
  <div id="expanded-view" style="display: none;">
    <div class="card-overlay"></div>
    <div class="expanded-card" id="popup">
      <div class="expanded-header">
        <button type="button" class="btn-close float-end" aria-label="Close" onclick="closePopup()" title="Close popup"></button>
        <!-- Movie Search Form -->
        <form action="query" method="POST" name="Search for a movie" id="search-form" class="mt-3">
          {{ search_form.csrf_token(id = "search-csrf") }}
          <label for="search-bar" class="form-label">Movie Title</label>
          <div class="input-group">
            {{ search_form.search(class_="form-control required-field", id_="search-bar", placeholder="Search for a movie...", maxlength_="100") }}
            <button class="btn btn-warning" type="submit">Search</button>
          </div>
          {% for error in search_form.search.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        </form>
      </div>
      <div class="expanded-content">
        <div class="row mb-2">
          <div class="col-12">
            <h4 class="fw-bold mb-3" id="results-heading">Results</h4>
            <div id="movie-results"></div>
          </div>
        </div>
        <!-- Create Watch Party Form -->
        <form id="party-form" method="POST" class="form-mode-create" style="display: none;">
          {{ form.csrf_token(id = "party-csrf") }}
          <!-- Party Title -->
          <div class="form-group">
              <label for="title-input">Party Title</label>
              {{ form.title(class="form-control required-field", placeholder="Enter a title for the watch party", id="title-input", maxlength="100") }}
              <small id="title-count" class="form-text text-muted">100 characters remaining</small>
              {% for error in form.title.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Movie ID -->
          {{ form.movie_id(type="hidden", class="form-control required-field", id="movie-input") }}
          <!-- Location -->
          <div class="form-group">
              <label for="location-input">Location</label>
              {{ form.location(class="form-control", id="location-input", placeholder="Enter a location for the watch party", maxlength="100") }}
              <small id="location-count" class="form-text text-muted">100 characters remaining</small>
              {% for error in form.location.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Start Date -->
          <div class="form-group">
              <label for="date-input">Start Date</label>
              {{ form.start_date(class="form-control required-field", id="date-input") }}
              {% for error in form.start_date.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Start Time -->
          <div class="form-group">
              <label for="time-input">Start Time</label>
              {{ form.start_time(class="form-control required-field", id="time-input") }}
              <small id="date-warning" class="form-text text-danger" style="visibility: hidden;">
                  Start date must be within the next year
              </small>
              {% for error in form.start_time.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Description -->
          <div class="form-group">
              <label for="description-input">Description</label>
              {{ form.description(class="form-control", id="description-input", placeholder="Enter a description for the watch party") }}
              <small id="description-count" class="form-text text-muted">500 characters remaining</small>
              {% for error in form.description.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Private -->
          <div class="form-group">
              <div class="form-check">
                  {{ form.is_private(class="form-check-input", id="private-input") }}
                  <label class="form-check-label" for="private-input">
                      Private? (Private parties aren't shown on the homepage and can only be accessed via their URL)
                  </label>
              </div>
              {% for error in form.is_private.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
          </div>
          <!-- Submit -->
          <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-secondary" onclick="showSearch()">Back</button>
              <button type="submit" id="create-party" class="btn btn-primary" disabled title="Fill out all required fields">
                  <span class="create-text">Create Watch Party</span>
                  <span class="edit-text">Save Changes</span>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Scripts -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='/js/alerts.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/party.js') }}"></script>
  {% endblock %}
</body>

</html>