{% extends "base.html" %}
{% block content %}

<!-- Heading -->
<h2 class="mt-5 mb-4">Your Next Party</h2>
{% if next %}
<!-- Next Party -->
<a href="/party/{{ next.url }}" class="party-link">
  <div class="col m-4" title="Go to this party">
    <div class="card p-3 shadow-sm content-box">
      <div class="row g-0">
        <div class="col-12 col-md-8">
          <div class="card-body text-md-start text-center">
            <h3 class="mb-3">{{ next.title }}</h3>
            <h4 class="text-muted mb-3">{{ next_movie.title }}</h4>
            <h5 class="text-muted mb-3 d-flex align-items-center gap-2 justify-content-center justify-content-md-start">
              Creator: {{ next_owner.username }}
              <div class="position-relative d-inline-block" style="width: 35px;">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-circle text-white" 
                     style="background-color: {{ next_owner.profile_colour }}">
                  <span class="fs-6 fw-semibold">{{ next_owner.username[0] }}</span>
                </div>
                <div style="padding-bottom: 100%"></div>
              </div>
            </h5>
            <h5 class="text-muted mb-5">{{ "Location: " + next.location if next.location else "No location specified" }}</h5>
            <h3 class="card-text" id="next-start" data-start="{{ next.start_time }}">Starts in</h3>
          </div>
        </div>
        <div class="col-4 d-none d-md-flex justify-content-end mt-4">
          <img src="https://image.tmdb.org/t/p/w500/{{ next_movie.poster_path }}" alt="{{ next_movie.title }} Poster" class="poster img-fluid">
        </div>
      </div>
    </div>
  </div>
</a>
{% else %}
<h5 class="text-muted">No upcoming parties.</h5>
<h5 class="text-muted">Join a public party or create a new one.</h5>
{% endif %}
<h2 class="mt-5 mb-4">Public Watch Parties</h2>
{% if public %}
<div class="row justify-content-center mt-3 mb-5">
  <div class="content-box">
    <div class="container my-4">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
        {% for party in public %}
        <a href="/party/{{ party.url }}" class="party-link">
          <div class="col" title="Click for more details">
            <div class="card p-3 shadow-sm">
              <h5>{{ party.title }}</h5>
              <h6 class="d-flex align-items-center gap-2">
                Creator: {{ party.creator.username }}
                <div class="d-flex align-items-center justify-content-center rounded-circle text-white" style="width: 30px; height: 30px; background-color: {{ party.creator.profile_colour }}">
                  <span class="fs-6 fw-semibold">{{ party.creator.username[0] }}</span>
                </div>
               </h6>
              <p>{{ "Location: " + party.location if party.location else "No location specified" }}</p>
              <h5><span class="badge rounded-pill text-bg-warning text-wrap" style="max-width: 100%; overflow-wrap: break-word;">Starts: {{ party.start_time.strftime('%d/%m/%Y at %H:%M') }}</span></h5>            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<h5 class="text-muted">No public parties right now, check back later</h5>
{% endif %}

<script src="{{ url_for('static', filename='/js/index.js') }}"></script>

{% endblock %}