{% extends "base.html" %}

{% block content %}

<!-- Heading -->
<h1 class="mt-5 mb-4 text-center">Register</h1>
<h6 class="text-muted text-center">Username must be 1 - 30 characters and start with a letter. Letters, numbers, dots, hyphens, and underscores are allowed.</h6>
<p></p>
<h6 class="text-muted text-center">Password must be 8 - 24 characters with at least one uppercase letter, lowercase letter, number, and special character. No spaces allowed.</h6>

<!-- Form -->
<div id="user-form">
  <form action="#" method="POST" name="Register" id="register-form">
    {{ form.csrf_token }}
    <!-- Username -->
    <div class="form-group">
      <label for="enter-username" class="form-label">Username</label>
      {{ form.username(class_="form-control required-field", placeholder="Enter a username", id_="enter-username", maxlength_="30") }}
      <p id="username-warning" class="text-danger" style="visibility: hidden">Invalid username</p>
      {% for error in form.username.errors %} 
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="enter-email" class="form-label">Email</label>
      {{ form.email(class_="form-control required-field", placeholder="Enter your email", id_="enter-email",minlength_="5", maxlength_="256") }}
      <p id="email-warning" class="text-danger" style="visibility: hidden">Invalid email</p>
      {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="enter-password" class="form-label">Password</label>
      {{ form.password(class_="form-control required-field", placeholder="Enter a password", id_="enter-password", minlength_="8", maxlength_="24") }}
      <p id="password-warning" class="text-danger" style="visibility: hidden">Invalid password</p>
      {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Confirm Password -->
    <div class="form-group">
      <label for="enter-confirm" class="form-label">Confirm Password</label>
      {{ form.confirm_password(class_="form-control required-field", placeholder="Confirm your password", id_="enter-confirm", minlength_="8", maxlength_="24") }}
      <p id="confirm-warning" class="text-danger" style="visibility: hidden">Passwords do not match</p>
      {% for error in form.confirm_password.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Submit -->
    <p title="Please fill out all fields correctly" class="form-group">
      <input type="submit" id="register-btn" class="btn btn-warning" value="Register" disabled>
    </p>
    <p class="text-end option-text">Already have an account?&nbsp; <a href="{{ url_for('auth.login') }}">Login</a></p>
  </form>
</div>

<!-- Script -->
<script src="{{ url_for('static', filename='/js/register.js') }}"></script>

{% endblock %}