{% extends "base.html" %}
{% block content %}

<div id="main-content">
  <div class="row align-items-center">
    <div class="col-lg-6 text-center mx-auto">
      <div class="d-flex flex-column align-items-center">
        <h1 class="text-shadow">Watch Along with Friends</h1>
        <a href="{{ url_for('auth.register') }}" class="btn btn-warning mt-3" title="Register">Get Your Ticket to the Show</a>
      </div>
    </div>
    <!-- Posters Source: https://www.themoviedb.org/ -->
    <div class="col-lg-6">
      <div class="scrolling-container">
        <div class="scroll-content">
          <!-- First set of posters -->
          {% for movie in movies %}
          <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="poster">
          {% endfor %}
          <!-- Duplicate set for smooth infinite scroll -->
          {% for movie in movies %}
          <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="poster">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}